.footer-main-container {
  background-color: black;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.footer-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: black;
  color: #ffffff;
}
.search-input {
  padding: 10px;
  margin: 5px;
}
.btn {
  padding: 6px;
  background-color: transparent;
  color: rgb(88, 88, 84);
  border: 1px solid rgb(85, 85, 84);
  font-size: 20px;
}
.search-con {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.foot-head {
  margin-top: 10px;
  margin-bottom: 10px;
}
.footer-head {
  color: #ffffff;
  width: 1000px;
}
.usd-img {
  border-radius: 60px;
  width: 30px;
  height: 30px;
  margin: 5px;
}
.usd-con {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.last-container {
  display: flex;
  background-color: black;
  color: #ffffff;
  justify-content: space-around;
}
.icon-l {
  font-size: 40px;
  border: 2px solid white;
  padding: 5px;
  margin: 5px;
  border-radius: 60px;
}
.img-pay {
  width: 70px;
  height: 45px;
  margin: 5px;
  border-radius: 10px;
}
